.navigation-controls {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-grow: 0.5;
  margin-left: auto;
  margin-bottom: 2%;
}

.navigation-controls__button {
  display: flex;
}
