.slide-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* idk how to center this absolute element */
  left: 50%;
  width: 100px;
  bottom: 30px;
  color: white;
}

.slide-pages__link {
}

.slide-pages__dot {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 5px;
}

.slide-pages__dot_action-border {
}

.slide-pages__dot_action-border:hover {
  height: 12px;
  width: 12px;
  border: 2px solid #c7b299;
  background-color: rgba(255, 255, 255, 0);
}

.slide-pages__dot_action-border:active {
  height: 12px;
  width: 12px;
  border: 2px solid #c7b299;
  background-color: rgba(255, 255, 255, 0);
}
