.slider {
  background: gray url(/src/static/images/sliderBackground.png) no-repeat center;
  height: 1024px;
  background-size: cover;
  display: flex;
  position: relative;
}

.slider__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin: auto 8%;
}

.slider__description {
  display: flex;
  flex-direction: column;
  width: 590px;
  color: white;
  text-align: center;
}

.slider__description_upper-text {
  font-family: Raleway-Medium, sans-serif;
  font-size: 36px;
  height: 38px;
}

.slider__description_middle-text {
  font-family: Raleway-ExtraBold, sans-serif;
  font-size: 52px;
  height: 80px;
  margin-top: 10px;
}

.slider__description_lower-text {
  font-family: Montserrat-Light, sans-serif;
  font-size: 16px;
  height: 62px;
  line-height: 25px;
  margin-bottom: 5px;
}

.slider__description_button {
  font-family: Raleway-ExtraBold, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #998675;
  width: 170px;
  height: 53px;
  margin: auto;
  border-radius: 3px;
  box-shadow: 0px 3px #736357;
  line-height: 53px;
}
